<div id="testimonial_content">

    <hr>
    <blockquote>
        "I thought I knew a lot about Game Development. I didn't. Working in the <%= first["area"]%> industry was not enough to teach me what I needed to know. Thanks Nate!"<br><br>
        <em class="quote_author">- <%= first["name"] %></em>
    </blockquote><hr>

    <blockquote>
        "The most <%= second["adj"] %> site about Game Development I have seen in years!"<br><br>
        <em class="quote_author">- <%= second["name"]%></em>
    </blockquote><hr>

    <blockquote>
        "<%= third["buzz-one"] %>! <%= third["buzz-two"] %>! <b><%= third["buzz-three"] %>!</b>"<br><br>
        <em class="quote_author">- <%= third["name"] %>, some random person on the internet</em>
    </blockquote><hr>

    <blockquote>
        "Before discovering the site, I was <%= fourth["noun-one"] %>. While reading it, I felt <%= fourth["noun-two"] %>. Now, I am whole."<br><br>
        <em class="quote_author">- <%= fourth["name"] %>, Author of the bestselling <u><%= fourth["book"] %></u></em>
    </blockquote><hr>

    <blockquote>
        "Bollocks!"<br><br>
        <em class="quote_author">- Gordon Ramsay (probably)</em>
    </blockquote>

</div>